#social_buttons 
  %h2 Get Token
  - if @providers.nil? || @providers.empty?
    No OAuth providers are configured.
  - else
    %ul
      - @providers.each do |p|
        %li
          %a.connect_button{title: "Login with #{p[:display_name]}", href: "#{p[:path]}"}
            Login with
            %em= p[:display_name]
