/* global */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    font-size: 14px;
    line-height: 1.5;
    background: none repeat scroll 0 0 #F9F9F9;
}

h1 {
    font-size: 80px;
    line-height: 1.15;
}

h2 {
    font-size: 2em;
    line-height: 1.15;
}

a {
    text-decoration: none;
}

/* layout */
#container {
    margin: 0 auto;
}

/* the social buttons styles are copied from https://grove.io/login */
#social_buttons {
    width: 460px;
    background: none repeat scroll 0 0 white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin: 40px auto 20px;
    padding: 30px;
}

#social_buttons h2 {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 10px
}

#social_buttons ul {
    text-align: center;
    list-style: none outside none;
    margin: 5px;
    padding: 5px;
}

#social_buttons li {
    margin: 20px;
    padding-bottom: 15px;
}

/* This button style is copied from bitbucket's Create repository button */
.connect_button, .connect_buton:visited {
    font-size: 16px;
    -moz-box-sizing: border-box;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 3.01px 3.01px 3.01px 3.01px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    padding: 4px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    vertical-align: baseline;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.connect_button:hover {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F7F7F7 100%) repeat scroll 0 0 transparent;
    border-color: #999999;
    color: #000000;
    text-decoration: none;
}

.connect_button:active {
    background-color: #F2F2F2;
    background-image: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1) inset;
    text-decoration: none;
    text-shadow: none;
}

.connect_button em {
    font-style: normal;
    font-weight: bold;
}

#error {
    text-align: center;
    margin: 40px auto 20px;
    padding: 30px;
}

#error p {
    font-size: 20px;
    font-style: bold;
}

#results {
    width: 660px;
    background: none repeat scroll 0 0 white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin: 40px auto 20px;
    padding: 30px;
}

#results h2 {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 20px;
    margin-top: 0;
    padding-bottom: 10px
}

#results table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

#results td {
    padding: 8px 0;
    border-bottom: 1px solid #F0F0F0;
    word-wrap: break-word;
}

#results td:first-child {
    width: 30%;
}

#results tr:hover td {
    background: none repeat scroll 0 0 #F8F8F8;
}

#results a {
   float: right; 
}
